@charset "utf-8";
/* CSS Document */

img{
	  border:none;
    outline:none
	}
	

	
/*.login_container .form_control
	{
		width:100%;
		behavior: none;	
	}*/

	
/*	
div {

-moz-border-radius: 5px;

-webkit-border-radius: 5px;

border-radius: 5px;

behavior: url(PIE.htc)

}
*/

/*.form_control{
	behavior: none;
	}
.btn
{
	behavior: none;
}


.top_nav_search_btn a {
	  border:none;
	}*/

/*a img { border: 0; }

a { outline: none; }

a img {
 border:none;
}

img {text-decoration: none; border: 0px}

a{border:none}*/


/*.user_reg_container .primary{
	font-size:12px;
	
}

.table_style1 tr:nth-child(odd){
	background:#f3f3f3;
	}
.table_style1 tr:nth-child(even){
	background:#e8e8e8;
	}
.icon_btn{
	behavior: none;
	}	
.btn_utility{	
	behavior: none;
	}	
.utility_secondary{
	
	behavior: none;
	}*/
.error_msg{
	background:#7c2230;
}
.error_msg:before{
	color:#7c2230;
}
	
	
	
	
	
	
	